.memento-admin-page {
    padding-right: 0.625rem;
}

@media screen and (min-width: 768px) {
    .memento-admin-page {
        padding-right: 2rem;
    }
}


.memento-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 1rem;
    max-width: 30rem;
}

.memento-form-label {
    min-width: 8rem;
    font-weight: 600;
    font-size: 14px;
    color: #1d2327;
    padding: .2rem 0;
}

.memento-form-input {
    display: inline-block;
    width: 100%;
    max-width: 22rem !important;
    margin: 0;
}