.linkly-admin-page {
    background: white;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0.625rem;
}

@media screen and (min-width: 783px) {
    .linkly-admin-page {
        padding-right: 2rem;
        margin-right: 20px;
    }
}

p {
    font-size: 14px;
    color: #1d2327;
}

form {
    margin-bottom: 2rem;
}

.linkly-form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    margin-bottom: 1rem;
    max-width: 30rem;
}

.linkly-secret-eye * img {
    display: flex;
    align-items: center;
    height: 20px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.linkly-form-label {
    min-width: 8rem;
    font-weight: 600;
    font-size: 14px;
    color: #1d2327;
    padding: .2rem 0;
}

.linkly-form-input {
    display: inline-block;
    width: 65%;
    max-width: 22rem !important;
    margin: 0;
}

.linkly-credentials-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.linkly-warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1.5rem;

    margin-bottom: 1rem;
    max-width: 32rem;

    background-color: #FBEAEA;
    color: #D32F2F;
    border: #D32F2F 1px solid;
    border-radius: 8px;
}

.linkly-warning img {
    scale: 90%;
}

.linkly-warning-description {
    display: inline-block;
    width: 100%;
    margin: 0;
}