.linkly-admin-page {
    padding-right: 0.625rem;
}

@media screen and (min-width: 768px) {
    .linkly-admin-page {
        padding-right: 2rem;
    }
}

form {
    margin-bottom: 2rem;
}

.linkly-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 1rem;
    max-width: 30rem;
}

.linkly-form-label {
    min-width: 8rem;
    font-weight: 600;
    font-size: 14px;
    color: #1d2327;
    padding: .2rem 0;
}

.linkly-form-input {
    display: inline-block;
    width: 100%;
    max-width: 22rem !important;
    margin: 0;
}

.linkly-warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1.5rem;

    margin-bottom: 1rem;
    max-width: 32rem;

    background-color: #FBEAEA;
    color: #D32F2F;
    /*border: #D32F2F 1px solid;*/
    border-radius: 8px;
}

.linkly-warning img {
    scale: 90%;
}

.linkly-warning-description {
    display: inline-block;
    width: 100%;
    margin: 0;
}