@font-face {
    font-family: "Sora";
    src: url("./Sora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;

}

#linkly-login-button hr {
    width: 100%;
    margin: 15px 0;
    border: none;
    height: 2px;
    background: #c3c4c7;
}

.linkly-button button, .linkly-button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 10px 24px;
    gap: 8px;

    text-decoration: none !important;
}

.linkly-button a:hover, .linkly-button button:hover {
    text-decoration-line: underline !important;
}

.linkly-button a:active, .linkly-button button:active, .linkly-button a:focus, .linkly-button button:focus {
    border-radius: 8px;
}

.linkly-button * span {
    display: inline-block;

    font-family: 'Sora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.linkly-button * img {
    display: inline;
    width: 78px;
    height: 24px;
}

.linkly-button.primary {
    background: #2F0066;
    margin: 1px;
    border-radius: 8px;
}

.linkly-button.primary:hover {
    background: #450094;
}

.linkly-button.primary * span {
    color: #FFFFFF;
}

.linkly-button.secondary {
    background: #FFFFFF;
    border: #eeeeee 1px solid;
    border-radius: 8px;
}

.linkly-button.secondary:hover {
    background: #F2F2F2;
}

.linkly-button.secondary * span {
    color: #212121;
}